<p>
  <button type="button" class="btn"><i class="fa fa-facebook fa-2x"></i>Facebook</button>
  <button type="button" class="btn"><i class="fa fa-twitter fa-2x"></i>Twitter</button>
  <button type="button" class="btn"><i class="fa fa-reddit fa-2x"></i>Reddit</button>
</p>
<p>
  <button type="button" class="btn"><i class="fa fa-money fa-2x"></i>Donate</button>
  <button type="button" class="btn"><i class="fa fa-users fa-2x"></i>Volunteer</button>
  <button type="button" class="btn"><i class="fa fa-pencil-square-o fa-2x"></i>Petition</button>
</p>