<div class="container">
<header class="header">
  <h2> Don't just <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>. Give and do. </h2>
</header>

<h1>Homeless Dog Gets a Makeover that Saves his Life!</h1>

<div style="text-align:center">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/h4xwkl4EQJ4" frameborder="0" allowfullscreen class="video1"></iframe>
</div>

<p>
  <button type="button" class="btn"><i class="fa fa-facebook fa-2x"></i>Facebook</button>
  <button type="button" class="btn"><i class="fa fa-twitter fa-2x"></i>Twitter</button>
  <button type="button" class="btn"><i class="fa fa-reddit fa-2x"></i>Reddit</button>
</p>

<p>
  <button type="button" class="btn"><i class="fa fa-money fa-2x"></i>Donate</button>
  <button type="button" class="btn"><i class="fa fa-users fa-2x"></i>Volunteer</button>
  <button type="button" class="btn"><i class="fa fa-pencil-square-o fa-2x"></i>Petition</button>
</p>

<div class="content">
  <p>
  Lorem ipsum dolor sit amet, vim prima illum tantas ne, stet praesent an mei, ex nec tempor nonumes. Ex tota meliore est, paulo errem vix in. Vidisse nominavi disputando ius ut. Ne veritus persecuti sea, vis sonet ancillae neglegentur an, eam cu periculis adolescens. Minim dictas posidonium ei eum, quidam scriptorem ad vim, pri exerci melius periculis et. Vitae necessitatibus sea et, tale latine deseruisse ea mea.
  </p>

  <p>
  Lorem ipsum dolor sit amet, vim prima illum tantas ne, stet praesent an mei, ex nec tempor nonumes. Ex tota meliore est, paulo errem vix in. Vidisse nominavi disputando ius ut. Ne veritus persecuti sea, vis sonet ancillae neglegentur an, eam cu periculis adolescens. Minim dictas posidonium ei eum, quidam scriptorem ad vim, pri exerci melius periculis et. Vitae necessitatibus sea et, tale latine deseruisse ea mea.
  </p>

  <p>
  Lorem ipsum dolor sit amet, vim prima illum tantas ne, stet praesent an mei, ex nec tempor nonumes. Ex tota meliore est, paulo errem vix in. Vidisse nominavi disputando ius ut. Ne veritus persecuti sea, vis sonet ancillae neglegentur an, eam cu periculis adolescens. Minim dictas posidonium ei eum, quidam scriptorem ad vim, pri exerci melius periculis et. Vitae necessitatibus sea et, tale latine deseruisse ea mea.
  </p>
</div>

</div>