<%= render @organization %>
<div>
  <%= link_to "edit organization", edit_organization_path(@organization['id']) %>
</div>
<div>
  <%= link_to "delete organization", organization_path(@organization), :method => :delete %>
</div>